# Credits

This package was developed at the `Strategic Energy Analysis and Decision Sciences (SEADS)`
directorate at the `National Laboratory of the Rockies (NLR)`.

* National Renewable Energy Laboratory

## Development Lead

* {{ author_first_name }} {{ author_family_name }} <{{ email }}>

## Contributors

*

## Acknowledgements

* This package was based on the [template](https://github.com/NatLabRockies/pypackage-template) created by Gui Castelão and Paul Pinchuk.
