"""Console script for {{ project_name }}"""

import typer
from rich.console import Console

import {{ project_slug }}

app = typer.Typer()
console = Console()


@app.command()
def hello():
    """{{ project_name }} command line interface"""
    console.print("Hello from {{ project_name }}!")
    console.print(
        "Replace this message by putting your code into "
        "{{ project_slug }}.cli.hello"
    )
    console.print("See Typer documentation at https://typer.tiangolo.com/")


def main():
    """Entry point for the console script."""
    app()


if __name__ == "__main__":
    main()
