"""Unit tests for `{{ project_slug }}` CLI"""

{% if command_line_interface == "click" %}
from {{ project_slug }}.cli import main as app
{% elif command_line_interface == "typer" %}
from {{ project_slug }}.cli import app
{% endif %}
{% if command_line_interface in ["click", "typer"] %}


def test_hello_command(cli_runner):
    """Test that the main CLI command works"""
    result = cli_runner.invoke(app)
    assert result.exit_code == 0
    assert "Hello from {{ project_name }}!" in result.stdout

{% elif command_line_interface == "argparse" %}
from {{ project_slug }}.cli import main


def test_hello_command(capsys):
    """Test that the main CLI command works"""
    exit_code = main([])
    assert exit_code == 0
    assert "Hello from {{ project_name }}!" in capsys.readouterr().out
{% endif %}
